@model waTiendadeZapatos.tblPedido

@{
    ViewBag.Title = "Eliminar Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Pedido</h2>


<div>
    <h4>tblPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.intCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datFechaPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datFechaPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEmpleado.strNombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEmpleado.strNombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProducto.strNombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProducto.strNombreProducto)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert('@TempData["ErrorMessage"]');
    </script>
}
